<div class="container container-fluid">
    <h2>Manage recipes:</h2>
    <div *ngIf="recipes$ | async | paginate: {
        id: 'allFurniture',
        itemsPerPage: pageSize,
        currentPage: currentPage
      }as recipes " class="row">
      <recipe-short-details class="col-md-3" *ngFor="let recipe of recipes" (approveRecipe)="approveRecipe($event)" [isAdminViewing]="true" [userId]="recipe.publisher" [recipe]="recipe"></recipe-short-details>
    </div>
    <pagination-controls id="allFurniture" (pageChange)="pageChanged($event)" maxSize="20" directionLinks="true" autoHide="true"
      previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageaLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
  </div>